.chat-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Responsive para pantallas menores a 770px */
@media (max-width: 770px) {
  .chat-container {
    margin: 0;
    border-radius: 0;
    height: 100%;
  }
}

/* Responsive para pantallas muy pequeñas */
@media (max-width: 600px) {
  .chat-container {
    width: 100%;
    height: 100vh;
  }

  .chat-header,
  .chat-window,
  .message-input {
    width: 100%;
  }
}
