

.chat-list-container h2 {
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid #333;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
}

.chat-items {
  overflow-y: auto; 
  height: calc(100% - 60px); 
}