

.message-bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 18px;
  margin-bottom: 10px;
  position: relative;
  word-wrap: break-word; 
  font-size: 0.95em;
  line-height: 1.4;
}

.my-message {
  background-color: #075e54; 
  align-self: flex-end;
  color: #fff;
}

.other-message {
  background-color: #262d31; 
  align-self: flex-start; 
  color: #f0f0f0;
}

.message-time {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 5px;
  display: block; 
  text-align: right; 
}


.other-message .message-time {
  color: rgba(255, 255, 255, 0.6);
}